
<main>
    <h1>Hola mundo {{ user.name }} - {{last_name}} Handlebars</h1>
    {{#if existProduct}}
    <h2>Hay productos</h2>
    <ul>
        {{#each products}}
        <li>Nombre del producto: {{title}} - precio {{price}}</li>
        {{/each}}
    </ul>
    {{else}}
    <h2>No hay productos disponibles</h2>

    {{/if}}
</main>

<script src="/assets/js/index.js"></script>