<main>
    <h1>Hola mundo {{ user.name }} - {{last_name}} Handlebars</h1>
    {{#if existProduct}}
    <h1>Hay productos</h1>
    <ul>
        {{#each products}}
        <li>Nombre del producto: {{title}} - precio {{price}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>No hay productos disponibles</p>

    {{/if}}
</main>
<script src="/assets/js/index.js"></script>